.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-button {
  height: 50px;
  width: 75px;
}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
input {
  width: 250px;
  height: 35px;
  margin: 15px;
}
