.comments-container {
  display: none;
  padding: 10px;
  border: none;
  /* border-color: aqua; */
}
.tweet-userinfo {
  display: flex;
  align-items: center;
  width: 500px;
}
.tweet-username {
  margin-top: 0;
  margin-bottom: 0;
}
.tweet-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: solid 1px aquamarine;
  margin-right: 15px;
}
.tweet {
  margin: 35px;
  max-width: 700px;
}
.tweet-date {
  font-size: 12px;
  padding-bottom: 10px;
}
.tweet-details {
  margin-top: 10px;
}
